body{
    font-family: Arial, helvetica , sans-serif;
    line-height: 1.6em;
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}
.button{
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
    margin-right: 20px;
    margin-top: 10px;
    background-color: dimgray;
}
.button:hover{
    color: aqua;
    background-color: #888;
}
.button:active{
    color: green;
    background-color: #999;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
#mainHeader{
    background: aqua;
    padding: 10px 40px;
}
#mainHeader h1{
    text-align: center;
    font-size: 48px;
}
#navbar{
    background-color: #000000;
}
#navbar ul{
    list-style: none;
    text-align: center;
}
#navbar li{
    display: inline;
}
#homePageTitle{
    background-image: url("../images/blueMountainSilluett.jpg");
    background-position: center;
    width: 95%;
    min-height: 130px;
    margin: 15px 2.5%;
    background-size: cover;
    text-align: center;
    font-size: 28px;
    line-height: 2em;
}
#homePageTitle h2{
}
#mainFooter{
    background-color: dimgray;
    text-align: center;
    position: sticky;
    width: 100%;
    bottom: 0;
}
#visitKort{
    background-image: url("../images/blueMountainSilluett.jpg");
    background-size: cover;
    min-height: 850px;

}
#visitKort h2{
    text-align: center;
    font-size: 28px;

}
.kort{
    background-color: lightgreen;
    width: 300px;
    height: 150px;
    border: 1px solid black;
    border-radius: 1.5em;
    margin: 15px;
    line-height: 1em;
    box-shadow: 2px 4px #000000;
    display: inline-flex;

}
.kortText{
    line-height: 1em;
    margin: 0;

}
.role{
    font-style: italic;
    font-size: 13px;
}
.info{
    font-size: 14px;
}
.kort-image{
    box-sizing: content-box;
    width: 80px;
    height: 110px;
    margin: 17px 15px 0 10px;
    object-fit: cover;
    border: 1px solid #000000;
    box-shadow: 1px 2px #000000;
    border-radius: 5%;
    position: relative;
}

@media(max-width:450px) {
    #mainHeader h1{
        font-size: 28px;
    }
    #homePageTitle{
        font-size: 12px;
        min-height: 50px;
    }

}